flows:
  knowledge:
    default: true
    globals:
      ingestion:
        textsplitter:
          chunkSize: 800
          chunkOverlap: 400
    ingestion:
      - filetypes: ["*"]
    retrieval:
      retriever:
        name: basic
        options:
          topK: 20
      postprocessors:
        - name: similarity
          options:
            threshold: 0.6
        - name: reduce
          options:
            topK: 20



